save_folder/icSavedPriceInfo.dictionary
__pycache__/helpers.cpython-39.pyc
__pycache__/save_system.cpython-39.pyc
save_folder/icFarmingArguments.list
save_folder/icPotionsandbarsArguments.list
save_folder/icPriceInfo.dictionary
__pycache__/signal_handling.cpython-39.pyc
